@page
@model Food_Recipes.Pages.Recipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.ID" />
            <div class="form-group">
                <label asp-for="Recipe.Title" class="control-label"></label>
                <input asp-for="Recipe.Title" class="form-control" />
                <span asp-validation-for="Recipe.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Category" class="control-label"></label>
                <select asp-for="Recipe.CategoryID" class="form-control" asp-items="ViewBag.CategoryID">
                </select>
                <span asp-validation-for="Recipe.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.RecipeIngredients" class="control-label"></label>
<div class="table">
<table>
<tr>
@{
int cnt = 0;
foreach (var ing in Model.AssignedIngredientDataList)
{
if (cnt++ % 3 == 0)
{
@:</tr><tr>
}
@:<td>
<input type="checkbox"
name="selectedIngredients"
value="@ing.IngredientID"
@(Html.Raw(ing.Assigned ?
"checked=\"checked\"" : "")) />
@ing.Name
@:</td>
}
@:</tr>
}
</table>
</div>
</div>
<div class="form-group">
<label asp-for="Recipe.Instructions" class="control-label"></label>
<textarea asp-for="Recipe.Instructions" class="form-control" rows="7" cols="70"></textarea>
<span asp-validation-for="Recipe.Instructions" class="text-
danger"></span>
</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
